initialize() {
	initializeTreeSeq(retainCoalescentOnly=T);
	defineConstant("fname", "/Users/jameskitchens/Documents/GitHub/terracotta/devlog/20260309/assets/slim/left.trees");
	defineConstant("t",20000); 
	initializeMutationRate(0);
	initializeMutationType("m1", 0.5, "f", 0.0);
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElement(g1, 0, 99);
	initializeRecombinationRate(0.5);
}

1 early() {
	community.rescheduleScriptBlock(s1, start=t, end=t); //set up end of simulation
	metapopLength = 10; // number of subpops along one side of the grid
	for (i in 1:metapopLength)
		sim.addSubpop("p"+asString(i), 100-(i-1)*10);
	subpops = sim.subpopulations;
	for (x in 1:metapopLength)
		{
			destSubpop = subpops[x - 1];
			if (x > 1)
				destSubpop.setMigrationRates(x - 1, 0.001);
			if (x < metapopLength)
				destSubpop.setMigrationRates(x + 1, 0.001);
		}
}

//10000 late() {
//	metapopLength = 10; // number of subpops along one side of the grid
//	for (i in 1:metapopLength)
//		sim.subpopulations[i-1].setSubpopulationSize(100-(i*10));
//}

s1 late() {
	sim.treeSeqOutput(fname);
	sim.simulationFinished();
}